@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

// VARIABLES
$primary-color: #ff214f;


// ------ BODY
body {
  background: #EFEFEF;
  font-family: 'Roboto';
  font-size: 0.90em;
}


// ------- LAYOUT
.container-row {
  @extend .container;
  @extend .row;

  margin-left: auto;
  margin-right: auto;
}

.panel {
  padding: 0.5em 2em;

  &.coloured {
    background: #FFF;
  }
}

hr {
  background: url('../../images/divider.png');
  height: 4px;
  border: 0;
}


// ------ TYPOGRAPHY
h1 { font-size: 2em; margin: 1.1em 0; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; margin: 1.1em 0; }


// ------ LINKS
a {
  @include links($primary-color, $primary-color, lighten($primary-color, 20%), $primary-color);
}


// ------ FORMS
form {
  .btn {
    margin-bottom: 2em;
  }
}


// ------- PAGES
.page-home {
  @extend .container-row;
}


// ------ SKILLS LIST COMPONENT
.skills-list {
  article {
    @extend .col-12;
    margin: 1em 0.5em;
  }

  header {
    @extend .row;
  }
}

// ------ SITE HEADER
#layout-root > header {
  @extend .d-flex;
  background: $primary-color;
  padding: 0.1em 1em;
  width: 100%;

  h1 {
    @extend .col;
    @extend .align-self-center;
    a { color: #FFF; }
    font-size: 1.8em;
    margin: 0.2em 0;
  }

  ul {
    @extend .nav;
    @extend .nav-pills;
    @extend .col;
    @extend .justify-content-end;
    @extend .align-self-center;

    li {
      @extend .nav-item;
      float: right;

      a, .active {
        @include links(#FFF,#FFF,#FFF,#FFF);
        background: 0 !important;
        font-size: 0.9em;
        font-family: Helvetica;
        margin-right: 0.9em;
        text-transform: uppercase;
      }
    }
  }
}
