@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600");

// VARIABLES
$primary-color: #f44280;
$secondary-color: #777;

//$primary-color: #7e5f8e;
$progress-color: #f44280;
$link-color: #f44280;

// ------ 100% Height Fix
html, body, #root, .app, #layout-root, .main-content, #routing {
    height: 100%;
}

.page {
    min-height: 100%;
}

.page {
    margin-top: -50px;
    padding-top: 50px;

    .panel {
        @extend .align-self-stretch;
    }
}

// ------ BODY
html { 
    font-size: 0.9em;
}

body {
    background: #EFEFEF;
    font-family: 'Roboto';
}

// ------ LISTS
ul.list-inline {
    margin-bottom: 0;

    li {
        @extend .list-inline-item;
        margin-right: 4em;
    }
}

// ------ HAMBURGER MENU
nav.hamburger {
    display: none;
}

// ------- LAYOUT
.container-row {
    @extend .container;

    @extend .row;

    margin-left: auto;
    margin-right: auto;
}

.panel {
    padding: 0 1em;

    &.coloured {
        background: #FFF;

        .standout {
            background: #F9F9F9;
            border: 1px solid #FFF;
            border-radius: 4px;
            padding: 0.8em;
        }
    }

    &.main {
        @extend .col;

        min-height: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.container-fluid {
    max-width: 980px;
}

// ------ CALENDAR
.calendar {
    margin: 2em 0;
    width: 100%;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        li {
            flex-basis: 14%;
            text-align: center;
            padding: 1em 0.2em;
        }
    }

    .days {
        background: $progress-color;
        color: #FFF;
        font-weight: bold;
        margin: 0;
        
        li {
            padding: 0.5em 0.2em;
        }
    }

    .dates {
        padding: 0 1em;
    }
}

// ------ ALERTS
p.alert {
    font-size: 0.9em;
    margin: 1em 0;
    padding: 0.5em;
}

// ----- HEADERS
header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

// ------ PROGRESS
.progress {
    border-radius: 5px;
    font-size: 0.9em;
    height: 25px;
    margin: 1em 0 2em 0;

    .progress-bar {
        background: $progress-color;
    }
}

// ------ BADGES
.badge {
    font-weight: 300;
}

.badge.badge-progress {
    background: $progress-color;
    color: #FFF;
}

.badge.lg {
    font-size: 1em;
    padding: 0.4em 0.6em;
}

// ------ TYPOGRAPHY
body {
    font-size: 1em;
    line-height: 1.6;
}

.display-text {
    color: $secondary-color;
    font-size: 1.1em;
    margin: 1.5em 0;
}

h1 + .subheading,
h2 + .subheading,
h3 + .subheading,
h4 + .subheading {
    margin: 0;
}

.subheading {
    color: rgb(119, 119, 119);
    font-size: 1.2em;
}

h1 {
    font-size: 2em;
    color: #000;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
}

h2 {
    font-size: 1.75em;
    color: #000;
    font-weight: 400;
    margin: 0 0 1em 0;
}

h3 {
    color: #000;    
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 1em 0;
}

h4 {
    color: #000;    
    font-size: 1.4em;
    font-weight: 400;    
    margin: 0 0 0.4em 0;
}

p {
    margin-bottom: 0.5em;
}

// Entries list
.entry {
    border-left: 10px solid $primary-color;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    margin: 1em 0;
    padding: 1em;
    padding-left: 2em;
}

// ------ LINKS
a {
    @include links($link-color, $link-color, lighten($link-color, 20%), $link-color);
}

a.danger {
    color: #FF0000;
}

// ------ DROPDOWNS
.dropdown-toggle {
    @extend .btn;

    @extend .btn-light;
}

.dropdown-menu {
    margin: 0;
    padding: 0 0 0.1em 0;

    a {
        @extend .dropdown-item;

        font-size: 0.95em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

// ------ FORMS
form {
    padding: 0 1.0em;

    input, textarea {
        @extend .form-control;
    }

    label {
        @extend .col-form-label;

        font-size: 1.1em;
    }

    label + input {
        margin-bottom: 1.3em;
    }

    input[type=submit], button {
        @extend .btn;

        @extend .btn-success;

        margin-bottom: 2em;
        padding: 0.5em 2em;
        width: auto;
    }
}

// ------ BUTTONS
.btn-lg {
    font-size: 1.1em;
}

.btn-link {
    padding: 0 0.5em;
}

// ------ DATE CHANGER
.date-changer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .date-changer-controls {
        align-items: baseline;
        display: flex;
        margin-left: 0.5em;
    }

    button {
        @extend .btn;

        @extend .btn-link;

        color: $primary-color;
        font-size: 1.5em;
    }
}

.btn-outline {
    @extend .btn-outline-primary;

    color: $primary-color;
    border-color: $primary-color;

    &:hover {
        background: $primary-color;
        border-color: #DDD;
    }
}

// ------- PAGES
.page {
    @extend .container-fluid;

    @extend .row;

    margin-left: auto;
    margin-right: auto;
}

.page.login {
    max-width: 800px;
}

// ------ NAV SIDEBAR COMPONENT
.nav-sidebar {
    flex-basis: 20%;
    
    h1 {
        font-size: calc(1.2em + 0.8vw);
    }

    ul {
        @extend .flex-column;

        @extend .nav;

        li {
            @extend .nav-item;

            margin: 0.4em 0;

            .fas {
                margin-right: 1em;
            }
        }
    }
}

// ------ SKILLS LIST COMPONENT
.skills-list {
    //display: flex;
    //justify-content: space-between;

    article {
        border: 1px solid $primary-color;
        margin: 1em 0;
        padding: 1em 1.5em;
        //width: 30%;
    }
}

// ------ SITE HEADER
#layout-root > header {
    @extend .d-flex;

    align-items: center;
    background: $primary-color;
    padding: 0.1em 1em;
    width: 100%;

    h1 {
        @extend .col;

        @extend .align-self-center;

        a {
            color: #FFF;
        }

        font-size: 1.8em;
        margin: 0.2em 0;
    }

    ul.pills {
        @extend .nav;

        @extend .nav-pills;

        @extend .col;

        @extend .justify-content-end;

        @extend .align-self-center;

        li {
            @extend .nav-item;

            float: right;

            a, .active {
                @include links(#FFF, #FFF, #FFF, #FFF);

                background: 0 !important;
                font-size: 0.9em;
                font-family: Helvetica;
                margin-right: 0.9em;
                text-transform: uppercase;
            }
        }
    }
}

// ------ SIDEBAR MENU MOBILE
.sidebar-menu-mobile {
    background: #333;
    color: #FFF;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 400px;
    width: 80%;
    z-index: 2;

    ul {
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid #A0A0A0;
            font-size: 1.4em;
            padding: 0.8em 1em;
        }

        a {
            color: #FFF;
        }
    }

    button.close {
        color: #FFF;        
        position: relative;
        right: 0.5em;
        top: 0.2em;
    }
}

.wrapper {
    margin-bottom: 1em;
}

// ------ RESPONSIVENESS
@media (max-width: 800px) {
    html {
        font-size: 1em;
    }

    // ----- PANEL & PAGE RESPONSIVENESS
    .page {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .panel.main {
        flex-direction: column;
        background: #FFF;
        margin: 0 !important;

        header {
            display: block;
        }
    }

    // ------ ACTION MENUS
    // ------ Should become 100% width
    .actions-menu {
        width: 100%;

        & * {
            position: static !important;
            transform: none !important;
            width: 100%;
        }

        .dropdown-menu {
            margin-bottom: 2em;
        }
    }

    // ------ ENTRY LIST RESPONSIVENESS
    .entry {
        display: block;
        margin: 2em 0;

        h5 { display: block; width: 100%; }

        .time {
            text-align: left;
        }
    }

    // ------ SIDEBAR RESPONSIVENESS
    .nav-sidebar {
        display: none;
    }

    // ------ MAIN HEADER RESPONSIVENESS
    #layout-root > header {
        font-size: 0.8em;

        h1 {
            text-align: center;
        }

        ul.pills {
            display: none;
        }
    }
}
